/*Contact CSS*/
#contact{
    padding: 125px 20px;
    text-align: center;
    background-color: #252934;
}

#contact-title{
    color: white;
    margin: 0;
    font-size: 48px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#contact-line{
    border: 3px solid white;
    width: 100px;
}

#contact-content{
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#contact-content img{
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.social-container{
    display: flex;
    flex-direction: row;
}

.contact-text{
    font-family: 'Raleway';
    font-size: 30px;
    color: white;
    margin-left: 20px;
}

.contact-link{
    cursor: pointer;
}

.contact-link.insta{ 
    text-decoration: none;
    color: deeppink;
}

.contact-link.github{
    text-decoration: none;
    color: coral;
}

.contact-link.twitter{
    text-decoration: none;
    color: cyan;
}

.contact-link.email{
    text-decoration: none;
    color: greenyellow;
}