/*Footer CSS*/
#footer{
    text-align: center;
    padding: 40px 20px;
    background-color: #1b242f;
}

#footer-text{
    color: #8f9aa7;
    font-family: 'Raleway';
}

#backtoTop{
    position: relative;
    top: -68px;
    text-decoration: none;
    font-size: 48px;
    margin: 0;
    color: white;
    background-color: darkcyan;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}