/*Header CSS*/
#header{
    background-image: url(header\ images/header-image.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-content{
    color: white;
    text-align: center;
    font-size: 36px;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0;
}

#header-content span{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#jumpIn{
    color: skyblue;
    border: 2px solid skyblue;
    border-radius: 50px;
    font-family: 'Quicksand';
    font-size: 24px;
    padding: 10px 20px;
    cursor: pointer;
    transition: .2s ease-in;
    text-decoration: none;
}

#jumpIn:hover{
    color: white;
    background-color: skyblue;
    cursor: pointer;
}