html{
    scroll-behavior: smooth;
    height: 100%;
    overflow-x: hidden;
}


body{
    margin: 0;
    height: 100%;
}


/*Navigation Menu CSS*/

#navigation{
    background-color: #1b242f;
    border-bottom: 5px solid #04c2c9;
    padding: 20px 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    word-spacing: 50px;
    z-index: 1;
    width: auto;
    transition: .2s ease-in;
}

#navigation a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 200;
    transition: .2s ease-in;
}

#navigation a:hover{
    color: #04c2c9;
}

.fixed-nav #navigation{
    position: fixed;
    top: 0;
    border-right: 5px solid #04c2c9;
    border-radius: 0 0 10px 0;
}


