@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Indie+Flower&family=Josefin+Sans:wght@300&family=Montserrat&family=Raleway:wght@300&family=Source+Sans+Pro&family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html,body{
    height: 100%;
    overflow: hidden;
}

body{
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide{
    display: none !important;
}

#footer{
    font-size: 14px;
    color: white;
    font-family: 'Ubuntu Mono', monospace;
    position: fixed;
    bottom: 0;
}

#footer span{
    color: deeppink;
}








/*Styles for each content*/
.container{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: left;
    align-items: center;
    transition: .7s ease-in-out;
    display: none;
    transform: translateX(100%);
}

/*HOME*/
.HOME{
    background-image: url(images/header-image.jpg);
    display: flex;
    transform: translateX(0);
}

.HOME p{
    color: white;
    margin-left:5vw;
    margin-right: 5vw;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    margin-right: 50%;
}

.HOME p b{
    color: skyblue;
    transition: .2s ease-in;
}

.HOME p i{
    color: orange;
}


/*ABOUT*/
.ABOUT{
    background-image: url(images/about-banner.jpg);
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    transform: translateX(-100%);
}

.ABOUT p{
    color: white;
    margin-right:5vw;
    margin-left: 5vw;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    text-align: right;
    line-height: 1.5;
    margin-left: 50%;
}

.ABOUT h1{
    font-family: 'Bebas Neue', cursive;
    color: #008b8b;
    margin-right:5vw;
    margin-left: 5vw;
    margin-bottom: 0;
}

.ABOUT .cyan{
    color: cyan;
}

.ABOUT .orange{
    color: orange;
}

.ABOUT .crimson{
    color: crimson;
}

.ABOUT .green{
    color: green;
}


/*PROJECTS*/
.PROJECTS{
    transform: translateX(-100%);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.PROJECTS h3{
    color: white;
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
    text-align: center;
    margin-left:5vw;
    margin-right: 5vw;
}

.PROJECTS img{
    margin-left:5vw;
    margin-right: 5vw;
}


.PROJECTS .projectImage{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.PROJECTS .projectImage .webArrow,
.PROJECTS .mobileArrow{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 56px;
    cursor: pointer;
    transition: .2s ease-in;
}

.PROJECTS .mobileArrows{
    display: none;
}


.PROJECTS .projectImage .webArrow:hover{
    transform: scale(1.5);
    color: teal
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active{
    background-color: skyblue;
}

.dot:hover {
    background-color: rgba(135, 206, 235, 0.4);
}

.PROJECTS p{
    color: white;
    margin-left:5vw;
    margin-right: 5vw;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.PROJECTS span.blue{
    color: skyblue;
}

.PROJECTS span.yellow{
    color: yellow;
}

.PROJECTS span.orange{
    color: orange;
}

.PROJECTS .projectDesc{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    margin-bottom: 0px;
    line-height: 1.5;
    width: 75%;
}

.PROJECTS .projectDesc a{
    color: skyblue;
    text-decoration: none;
    transition: .2s ease-in;
}

.PROJECTS .projectDesc a:hover{
    color: deeppink;
    text-decoration: underline;
}


/*CONTACT*/
.CONTACT{
    transform: translateX(-100%);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.CONTACT p{
    color: white;
    margin-left: 10px;
    font-size: 24px;
    font-family: 'Indie Flower', cursive;
    margin-right: 30px;
}

.CONTACT h3{
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    margin-left:5vw;
    margin-right: 5vw;
    text-align: center;
}

.socials{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
}

.image-container{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 15px;
}

.image-container img:hover, .image-container p:hover{
    cursor: pointer;
}

















/*Navbar for PC*/
.navbar{
    position: fixed;
    z-index: 1;
    top: 0;
}

.navbar button, .menu-navbar button{
    padding: 10px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .1s linear;
}


.navbar .menu{
    font-size: 30px;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
}

















/*Navbar for Mobile*/
.menu-navbar{
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(27,36,47);
    background-color: rgba(27,36,47, 0.95);
    transform: translateY(-100%);
    transition: 0.7s ease-in-out;
}

.menu-navbar button{
    font-size: 7vw;
}

hr{
    width: 90%;
    border: 2px solid skyblue;
}

.close{
    position: fixed;
    top: 0;
    left: 0;
}


















/*Media Queries*/
@media only screen and (max-width: 1000px){
    .PROJECTS .projectDesc{
        display: none;
    }
}

@media only screen and (max-width: 800px){

    .navbar button{
        display: none;
    }

    .navbar .menu{
        display: block;
    }

    .menu-navbar{
        display: flex;
    }

    .PROJECTS h3{
        font-size: 16px;
    }

    .PROJECTS img{
        width: 300px;
        height: 200px;

    }

}

@media only screen and (max-width:600px){
    .PROJECTS .projectImage .webArrow{
        display: none;
    }

    .PROJECTS .mobileArrows{
        display: block;
    }

    .PROJECTS .mobileArrow{
        font-size: 40px;
    }

    .PROJECTS .projectName{
        font-size: 16px;
    }

    .ABOUT p{
        margin-left: 5vw;
    }

    .HOME p{
        margin-right: 5vw;
    }
}


@media only screen and (max-width:350px){

    .ABOUT p{
        font-size: 16px;
    }

    .CONTACT h3{
        margin-top: 50px;
    }

}